<div class="center"><b>Event #<%= @action.id %></b></div>
<p/>

<table width=100%>
  <tr><td align=center>
    <table valign="center" border=1 cellpadding=3 cellspacing=3>
      <tr>
        <td class="ar">Kind:</td>
        <td><%= @action.kind %></td>
      </tr>
      <tr>
        <td class="ar">Title:</td>
        <td><%=@action.title%></td>
      </tr>
      <tr>
        <td class="ar">Location:</td>
        <td><%=@action.location%></td>
      </tr>
      <tr>
        <td class="ar">Leaders:</td>
        <td><%=@action.leaders%></td>
      </tr>
      <tr>
        <td class="ar">Start:</td>
        <td><%=@action.start%> End:<%=@action.finish%> </td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><%=@action.description%></td>
      </tr>
    </table>
    <p/>
    <form method="get" action="/admin_edit/<%=@action.id%>">
      <input type=submit value="Edit">
      <input type=reset
             value="Return to Events"
             onclick="window.location.href='/admin_events';">
    </form>
  </td></tr>
</table>
