<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
  <title>Admin Page</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <!--<script type="text/javascript" src="<%=current_server%>/javascripts/jquery-1.4.4.min.js"></script>-->
  <script type="text/javascript" src="<%=current_server%>/javascripts/jquery-ui-1.8.7.custom.min.js"></script>
  <script type="text/javascript" src="<%=current_server%>/javascripts/jquery.cookies.js"></script>
  <link rel='stylesheet' type='text/css' href='<%=current_server%>/stylesheets/admin.css'>
  <link rel='stylesheet' type='text/css' href='<%=current_server%>/stylesheets/base/jquery.ui.all.css'>
</head>
<body>
<div id='container'>
  <div class="center">
    <div>
      <div style="float: left; width: 50%;">
        <h2 style="margin-top: 5px; margin-bottom: 15px;">BAMRU Calendar Admin</h2>
        <%= admin_nav %>
      </div>
      <div style="padding-top: 12px;">
        Public Site - <%= link_url current_server %><br/>
        <%= admin_ops_nav %><br/>
        <%= admin_cal_nav %>
      </div>
    </div>
    <div style="clear: both;"></div>
    <p/><hr>
    <%= get_flash_notice %>
    <%= get_flash_error %>
  </div>
  <%= yield %>
  <div class="center" style="font-size: 12px;">
    <%= admin_nav_footer %>
  </div>
</div>
</body>
</html>
