<div class="center">
  <h2>BAMRU Event Administration</h2>
  <%= admin_nav %>
</div>

<h3>Meetings</h3>
<%= event_table @meetings %>

<h3>Trainings</h3>
<%= event_table @trainings %>

<h3>Events</h3>
<%= event_table @events %>

<h3>Non-County Meetings</h3>
<%= event_table @non_county %>


