<style>
  a:visited { color: blue }
</style>

<div class="header_box"><div>BAMRU Sponsors</div></div>

<div class="content">

  BAMRU is supported by firms who provide discounts and
  incentives to use their gear and services.  We thank our sponsors
  for the important support the provide.
  <p></p>

  <table>
    <tr>
      <td align=right><%= link_to "Backcountry.com",  "http://www.backcountry.com/" %></td>
      <td>Clothing, footwear, climbing and skiing gear</td>
    </tr>
    <tr>
      <td align=right><%= link_to "Black Crater",  "http://www.blackcraterclothing.com/" %></td>
      <td>Supplier of our team jackets</td>
    </tr>
    <tr>
      <td align=right><%= link_to "Black Diamond",  "http://www.blackdiamondequipment.com/en-us" %></td>
      <td>High quality climbing and ski gear</td>
    </tr>
    <tr>
    <tr>
      <td align=right><%= link_to "Iridium",  "http://www.iridium.com" %></td>
      <td>Simple and reliable satphones service</td>
    </tr>
    <tr>
      <td align=right><%= link_to "Liberty Mountain",  "http://www.libertymountain.com/index.asp" %></td>
      <td>Wide range of climbing and outdoor supplies</td>
    </tr>
    <tr>
      <td align=right><%= link_to "Mammut",  "http://www.mammut.ch/" %></td>
      <td>Climbing ropes, avalanche gear, hardware and clothing</td>
    </tr>
    <tr>
      <td align=right><%= link_to "Patagonia",  "http://www.patagonia.com/" %></td>
      <td>Outdoor clothing and camping equipment</td>
    </tr>
    <tr>
      <td align=right><%= link_to "Planet Granite",  "http://www.planetgranite.com/" %></td>
      <td>Popular local climbing gym</td>
    </tr>
  </table>
</div>